body{
font-family:Arial;
margin:0;
background:linear-gradient(120deg,#89f7fe,#66a6ff);
}

.navbar{
display:flex;
justify-content:space-between;
background:#2c3e50;
color:white;
padding:15px;
}

.navbar a{
color:white;
text-decoration:none;
background:#3498db;
padding:8px 15px;
border-radius:5px;
}

.card{
width:350px;
margin:80px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
text-align:center;
}

input{
width:90%;
padding:10px;
margin:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px 20px;
background:#27ae60;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.dashboard{
display:flex;
justify-content:center;
gap:30px;
margin-top:80px;
}

.box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 10px gray;
text-align:center;
}

table{
width:80%;
margin:30px auto;
border-collapse:collapse;
background:white;
}

th{
background:#34495e;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ddd;
text-align:center;
}
